//Header


.header {
    opacity: 0.5;
    //NAVIGATION
    &__nav {
        display: flex;
        justify-content: space-between;
        margin: 4rem 3rem 18rem;
    }


    &__ul {
        display: none;
    }


    &__li {

    }


    //HERO IMAGE

    &__hero {


        &--image {
            &-box {
                background-color: $softBlue;
                margin-bottom: 10rem;
                height: 200px;
                margin-left: 26.666667%;
                margin-right: 0;
                
                // position: absolute;
                // right: 0;
                border-top-left-radius: 30rem;
                border-bottom-left-radius: 30rem;
            }

            width: 100%;
            height: auto;
            position: absolute;
            top: 30%;
            left: 5px;
        }

        &--content {
            
        }
    }

    &__active-nav {
        position: fixed;
        top: 0;
        z-index: 1000;
        height: 100vh;
        width: 100vw;
        background-color: rgba($veryDarkBlue, .8);
        // background-color: #000;
        color: white;
    }

    // &__z-index {
    //     z-index: -1;
    // }


    //HERO CONTENT



    &--primary {
        display: flex;
        flex-direction: column;
        text-align: center; //temporary
        margin-bottom: 3rem;
        font-size: 3rem;
        
        span {
            letter-spacing: .1rem;
        }
    }

    &--paragraph {
        text-align: center; // temporary
        margin: 0 auto 3rem;
    }


    margin-bottom: 20rem;
}