//TAB

.tab {
    &-box {
        position: relative;
    }


    &--image {
        &-box {
                background-color: $softBlue;
                margin-bottom: 10rem;
                height: 200px;
                margin-left: 0;
                margin-right: 26.666667%;;
                
                // position: absolute;
                // right: 0;
                border-top-right-radius: 30rem;
                border-bottom-right-radius: 30rem;
            }

        width: 90%;
        max-width: 375px;
        
        height: auto;
        position: absolute;
        top: -10%;
        left: 20px;
    }
}



