*,*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;

    @media screen and (min-width: 1000px)  {
        font-size: 80%;
    }
}


body {
    font-family: 'Rubik', sans-serif;
    font-size: 1.8rem;
    
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

button,input {
    outline: none;
    border: none;
}

button {
    background-color: transparent;
}

input::placeholder {
    opacity: 0.5;
}


// img {
//     width: 100%;
//     height: auto;
// }


