
.btn {
    border-radius: 4px;
    font-weight: 700;
    font-size: 1.4rem;

    &__box {
        // display: flex;
        // justify-content: space-around;
        text-align: center;

        &--header {
            @media screen and (min-width: 1000px)  {
                text-align: left;
            }
        } 
    }

    &--blue {
        background-color: $softBlue;
        box-shadow: 0 2px 2px 3px rgba($softBlue, .1);
    }

    &--grey {
        background-color: rgba($grayishBlue,.2);
        box-shadow: 0 2px 2px 3px rgba($softBlue, .1);
    }

    &--red {
        background-color: $softRed;
    }

    &--tab {
        &-box {
            position: relative;
        }
        
        &-span {
            display: block;
            position: absolute;
            z-index: 1000;
            left: 20%;
            width: 220px;
            margin: 0 auto;
            border-bottom: 5px solid $softRed;
            transition: all 0.5;

            &-1 {
                top: 5rem;
            }

            &-2 {
                top: 6rem;
                opacity: 0;
            }

            &-3 {
                top: 6rem;
                opacity: 0;
            }
        }

        &-bookmark {
            
        }

        &-speedy {
            &::after {
                opacity: 0;
            }    
        }



        &-easy {
            &::after {
        
                bottom: 0px;
                opacity: 0;
            }    
        }
    }

    &--extension {
        &:hover {
            background-color: $white;
            color: $softBlue;
            border: 4px solid $softBlue;
        }
    }
}

