
.btn {
    border-radius: 4px;
    font-weight: 700;
    font-size: 1.4rem;

    &__box {
        // display: flex;
        // justify-content: space-around;
        text-align: center;
        
    }

    &--blue {
        background-color: $softBlue;
        box-shadow: 0 2px 2px 3px rgba($softBlue, .1);
    }

    &--grey {
        background-color: rgba($grayishBlue,.2);
        box-shadow: 0 2px 2px 3px rgba($softBlue, .1);
    }

    &--red {
        background-color: $softRed;
    }
}