.mr {
    margin-right: 2rem;
    
}

.m-auto {
    margin: 0 auto;
}

//MARGIN TOP

.m-xsmall-top {
    margin-top: 3rem;
}

.m-top {
    margin-top: 6rem;
}

//BOTTOM
.m-xsmall-bottom {
    margin-bottom: .5rem;
}

.m-bottom {
    margin-bottom: 2rem;
}

.m-bottom-4 {
    margin-bottom: 4rem;
}

.m-bottom-8 {
    margin-bottom: 8rem;
}

.m-bottom-10 {
    margin-bottom: 10rem;
}


.m-bottom-14 {
    margin-bottom: 14rem;
}


.m-small-bottom {
    margin-bottom: 10rem;
}


.m-big-bottom {
    margin-bottom: 20rem;
}


//PADDING 

.padding {
    &--extension {
        padding: 1.5rem 4rem;
    }

    &--hero {
        padding: 1.5rem 1rem;
    }

    &--faq {
        padding: 1.5rem 2.5rem;
    }

    &--login {
        padding: 1.5rem 2.5rem;
    }


    &--input {
        padding: 1.5rem 3rem;

        &-para {
            padding: .5rem 1rem;
        }
    }

    &__top {
        &--1 {
            padding-top: 1rem;
        }

        &--2 {
            
        }
    }


    &__bottom {
        &--1 {

        }

        &--2 {
            padding-bottom: 2rem;
        }
    }
}





// TEXT ALIGN
.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.click {
    cursor: pointer;
}

// FLEX

.flex {
    display: flex;
    &-fd {

        &-r {
            flex-direction: row;
        }


        &-c {
            flex-direction: column;

            &-input {
                flex-direction: column;

                @media screen and (min-width: 700px) {
                    flex-direction: row;
                }
            }

            &-footer {
                flex-direction: column;
                @media screen and (min-width: 800px) {
                    flex-direction: row;
                    
                    align-items: center;

                    

                }
            }
        }
    }

    &-jc {
        &-sb {
            justify-content: space-between;
        } 
    }

    &-ai {
        &-c {
            align-items: center;
        }
    }
}

//DISPLAY

.inline-block {
    display: inline-block;
}

.block {
    display: block;
}


//WIDTH

.width-80 {
    width: 80%;
}

.width-90 {
    width: 90%;
}

.max-width-750 {
    max-width: 750px;
}

.max-width-800 {
    max-width: 1000px;
}

.max-width-300 {
    max-width: 300px;
}

.max-width-440 {
    max-width: 440px;
}

.max-width-500 {
    max-width: 500px;
}


.max-width-600 {
    max-width: 600px;
}


//BORDER

.border--r {
    border-radius: .4rem;
}


.border--bottom {
    border-bottom: 2px solid rgba($grayishBlue,.5);
}


.border--top {
    border-top: 2px solid rgba($grayishBlue,.8);

}


.none {
    display: none;
}



//LINES 

.line-top {
    border-top: $lineBorder;
}

.line-bottom {
    border-bottom: $lineBorder;
}

.line-tab {
    border-top: $lineBorder;
    width: 90%;
}


//BACKGROUND

.bg--red-login {
    background-color: $softRed;
}